---
layout: internal
---

<main class="main">

	<div class="main-columns">
		<div class="main-col-1 main-body">
			<h1>{{ page.title }}</h1>

			{{ content }}
		</div>

		<!-- Main Side Panel -->
		<div class="main-col-2 main-side-panel">

			<div class="sidebar-box">
				<h4>Column 1</h4>
				<ul>
					<li><a href="#">Clients</a></li>
					<li><a href="#">Leading &amp; Managing</a></li>
					<li><a href="#">Fun</a></li>
					<li><a href="#">News</a></li>
					<li><a href="#">Planning</a></li>
					<li><a href="#">Political Savvy</a></li>
					<li><a href="#">Self Development</a></li>
					<li><a href="#">Teams</a></li>
					<li><a href="#">Technology</a></li>
				</ul>
			</div>

			<div class="sidebar-box">
				<h4>Archive</h4>
				<ul>
					<li><a href="#">2015</a></li>
					<li><a href="#">2014</a></li>
					<li><a href="#">2013</a></li>
				</ul>
			</div>

		</div> <!-- main-side-panel -->
	</div> <!-- .main-columns -->
</main>