---
layout: internal
sidebar_content: "sidebar/sidebar_navigation.html"
---

{% assign staff = site.data.staff %}

<main class="main">
	<div class="main-columns">
		<ul class="staff-gallery small-block-grid-2 medium-block-grid-3 large-block-grid-6 text-center">
			{% for item in staff %}
				<li>
					<a class="staff-member-button" href="{{ item.url }}">
						<img width="120" src="/img/content/staff-{{forloop.index}}.png">
						<h3>{{ item.title }}</h3>
					</a>
				</li>
			{% endfor %}
		</ul>
	</div> <!-- .main-columns -->
</main>