---
layout: internal
sidebar_content: "sidebar/sidebar_navigation.html"
---

<main class="main">

	<!-- Logo -->
    <div class="logo">
    	<img width="116" src="/img/template/right-now-coaching-logo@2x.png">
    </div>

	<header class="header">
		<span>{{ page.title }}</span>
	</header>

	<div class="main-columns">
		<div class="main-col-1 main-body">
			<h1>{{ page.title }}</h1>

			{{ content }}
		</div>

		<!-- Main Side Panel -->
		<div class="main-col-2 main-side-panel">

			<!-- Login Button -->
			<a class="login-button">
				<div class="img">
					<img width="70" src="/img/template/right-now-coaching-logo@2x.png">
				</div>
				<span href="#login" class="button fill-grey-color text-right">client login &gt;</span>
			</a>

		</div> <!-- main-side-panel -->

	</div>
</main>