<section id="about-us" class="hero about-us-section">

	<article class="hero-body">
		<div class="row outer-row">
			<div class="large-5 columns">
				<div class="hero-body-text">
					<h2>about us</h2>
					<p><b>Baggio</b>legal is a specialist Adelaide law firm. Our experise is <a href="#">commercial</a>, <a href="#">taxation</a> and <a href="#">private client</a> law.</p>
					<p>When you come to us, expect something different.</p>
					<p>We take custody of your legal issues as if they were ours, creating lifelong, long term, relationships with you.</p>
					<p>Expect an advocate that is straight-talking, love what he does and is passionate about it. Of course we are excellent at what we do; intelligent, experienced and commercial.</p>
					<p>But more importantly, we are human.</p>
					<p>Lawyers with personality.</p>
				</div>
			</div>
		</div>
	</article>

</section> <!-- .hero -->

<!-- Trailing Hero Image -->
<section class="trailing-hero-image about-us-section hide-for-large-up"></section>