<section id="guides" class="bg-section bg-section-slim">

	<div class="row outer-row">
		<div class="large-5 large-push-7 columns">
			<div class="row">
				<div class="large-8 large-offset-1 columns">
					<div class="section-text">
						<h3>Guides</h3>
						<p>We have prepared various Guides in response to many common queries made by our clients. Our Guides are general in nature and must be read as such. They should not be acted upon without bespoke advice and application to individual circumstances.</p>
						<p>Please read our Guides and then contact us to discuss how we can assist you.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="large-7 large-pull-5 columns">
			<ul class="guide-panels">
				{% for i in (1..3) %}
					<li>
						<div class="media-panel long-column">
							<div class="media-panel-body">
								<h3>Title Here</h3>
								{% for i in (1..3) %}
									<p><a href="#">guide 22 - may 2015 <i class="fa fa-angle-right"></i></a></p>
								{% endfor %}
							</div>
						</div>
					</li>
				{% endfor %}
			</ul>
		</div> <!-- .columns -->
	</div> <!-- .outer-row -->

</section> <!-- .bio-section -->
