<section id="home" class="hero hero-leader home-section">

	<!-- Trickle Logos Animation -->
	<div class="trickle-animation-container">
		<div class="trickle-logos-1"></div>
		<div class="trickle-logos-2"></div>
		<div class="trickle-logos-3"></div>
	</div>

	<!-- Hero Body -->
	<article class="hero-body">
		<div class="row outer-row">
			<div class="large-5 columns">
				<div class="hero-body-text">
					<h1>the law, simply</h1>
				</div>
			</div>
		</div>
	</article>

	<!-- FOOTER -->
	<footer class="footer">

		<!-- Footer Text -->
		<div class="footer-text show-for-medium-up">
			<div class="row outer-row">
				<div class="columns">
					<img class="show-for-large-up" width="160" src="/img/template/gold-seal@2x.png">
					<p><strong>&copy;Baggio</strong>legal Dequetteville Chambers 1 Dequetteville Terrace Kent Town SA 5067 p +61 8 8132 5000</p>
				</div>
			</div>
		</div>

		<!-- Social Networks -->
		<div class="social-networks show-for-medium-up">
			<div class="row outer-row">
				<div class="columns">
					<ul class="lv-inline-list close-gaps text-center medium-text-right">
						<li><a href="{{ settings.facebook }}"><img width="24" src="/img/template/facebook-icon@2x.png"></a></li>
						<li><a href="{{ settings.email }}"><img width="24" src="/img/template/linked-in-icon@2x.png"></a></li>
						<li><a href="{{ settings.facebook }}"><img width="24" src="/img/template/email-icon@2x.png"></a></li>
					</ul>
				</div>
			</div>
		</div>

	</footer>

</section> <!-- .hero -->