<section id="order-an-entity" class="bg-section bg-section-slim">

	<div class="row outer-row">
		<div class="large-5 large-push-7 columns">

			<div class="row">
				<div class="large-8 large-offset-1 columns">
					<div class="section-text">
						<h3>Order an Entity</h3>
						<p>Ordering an entity is easy. If submitted correctly and paid for before 4pm, we can establish an entity on the same day.</p>
						<p>Just follow these <a href="#">four steps</a>.</p>
						<p>If you have an queries, call <a href="tel:81325000">8132 5000</a> or email <a href="mailto:entities@baggiolegal.com.au">entities@baggiolegal.com.au</a></p>
					</div>
				</div>
			</div>

		</div>
		<div class="large-7 large-pull-5 columns">

			<ul class="entity-panels">
				<li>
					<div class="media-panel arrow-right">
						<div class="media-panel-body">
							<h3>Step One</h3>
							<p><strong>choose an entity</strong></p>
							{% for i in (1..5) %}
								<div><a href="#">lorem ipsum dolor aset</a></div>
							{% endfor %}
						</div>
					</div>
				</li>
				<li>
					<div class="media-panel arrow-down">
						<div class="media-panel-body">
							<h3>Step Two</h3>
							<p><strong>check the price</strong></p>
							<div>entities <a href="#">lorem ipsum dolor aset</a></div>
						</div>
					</div>
				</li>
				<li>
					<div class="media-panel arrow-down arrow-left">
						<div class="media-panel-body">
							<h3>Step Three</h3>
							<p><strong>complete the order form and email it to us</strong></p>
							{% for i in (1..8) %}
								<div><a href="#">lorem ipsum dolor aset</a></div>
							{% endfor %}
						</div>
					</div>
				</li>
				<li>
					<div class="media-panel arrow-up">
						<div class="media-panel-body">
							<h3>Step Four</h3>
							<p><strong>call us <a href="tel:81325000">8132 5000</a> for payment</strong></p>
						</div>
					</div>
				</li>

			</ul>

			<div class="media-panel">
				<div class="media-panel-body media-panel-body-slim text-center">
					<strong>we prepare the paperwork and establish your entity</strong>
				</div>
			</div>

		</div> <!-- .columns -->
	</div> <!-- .outer-row -->

</section> <!-- .bio-section -->
