<section id="scoop" class="bg-section bg-section-slim">

	<div class="row outer-row">
		<div class="large-7 large-push-5 columns">
			<div class="row">
				<div class="large-8 large-offset-1 columns">
					<div class="section-text">
						<h3>Scoop</h3>
						<p>Scoop is a bulletin issued by Baggiolegal from time to time. It gives you the scoop on legal and tax issues you need to know about.</p>
						<p>Scoop is brief - it will give you the best return from any single minute of your time today.</p>
						<p>&lt; Download previous scoop issues from here</p>
					</div>
				</div>
			</div>
		</div>
		<div class="large-5 large-pull-7 columns">
			<div class="media-panel">
				<img src="/img/template/scoop@2x.png">
				<div class="media-panel-body">
					{% for i in (1..8) %}
						<p>Scoop title to come | <a href="#">may 2015</a></p>
					{% endfor %}
				</div>
			</div>
		</div> <!-- .columns -->
	</div> <!-- .outer-row -->

</section> <!-- .bio-section -->
