<section id="what-we-do" class="hero what-we-do-section">

	<article class="hero-body">
		<div class="row outer-row">
			<div class="large-4 columns">
				<div class="hero-body-text">
					<h2>what we do</h2>

					<p>We manage your risks, provide certainty and create solutions for you by providing excellent and intimate legal services.</p>

					<p>We provide clarity and peace of mind.</p>

					<p>We assist our <a href="#">commercial</a> and <a href="#">tax clients</a> to traverse the business cycle - from planning and structuring, through managing growth, risks and opportunities through preparing for, and implementing, an orderly and rewarding exit by sale or succession.</p>

					<p>We assist our <a href="#">private clients</a> to navigate complex laws and issues that affect themselves, their families and their entities. This includes assisting with asset protection strategies, estate planning and the transition and succession of wealth and structures.</p>
				</div>
			</div>
		</div>
	</article>

</section> <!-- .hero -->

<!-- Trailing Hero Image -->
<section class="trailing-hero-image what-we-do-section hide-for-large-up"></section>