<section id="who-are-you" class="hero who-are-you-section">

	<article class="hero-body">
		<div class="row outer-row">
			<div class="large-4 columns">
				<div class="hero-body-text">
					<h2>who are you</h2>

					<p>Our clients are diverse; but they share a common view that their lawyer should be personable, efficient, accessible and accountable... and very different to the large law firm variety.</p>

					<p>They include:</p>

					<ul>
						<li>Accounting firms (and their clients)</li>
						<li>Commercial landlords and tenants</li>
						<li>Family business</li>
						<li>Farms, viticulture and agribusiness</li>
						<li>Financial advisory firms (and their clients)</li>
						<li>Franchisors and franchisees</li>
						<li>High net worth individuals</li>
						<li>Medical, dental and allied health</li>
						<li>Professional services</li>
						<li>Property developers</li>
						<li>Retail and manufacturing</li>
					</ul>

				</div>
			</div>
		</div>
	</article>

</section> <!-- .hero -->

<!-- Trailing Hero Image -->
<section class="trailing-hero-image special who-are-you-section hide-for-large-up"></section>