/*
    HEADER.CSS

    - Last updated: 19.06.15
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Header
//-----------------------------------------------------------------

.global-header {
	@include transition('all');
	background: white;
	z-index: 1;

	&.has-border {
		@media #{$small-only} {
		    border-bottom: 1px solid #e1e1e1;
		}
	}

	@media #{$small-only} {
	    position: fixed;
	    top: 0;
	    width: 100%;
	    height: rem-calc(50);
	}

	@media #{$medium-up} {
	    margin-bottom: rem-calc(50);
	    padding-top: rem-calc(20);
	}

	@media #{$large-up} {
	    padding-top: rem-calc(50);
	}

	@media #{$xlarge-up} {
	    margin-bottom: rem-calc(170);
	}
}

//-----------------------------------------------------------------
// has-logo State
//-----------------------------------------------------------------

.global-header .logo {
	@media #{$medium-up} {
	    // position: fixed;
	    // background: rgba(white, 0.8);
	    // padding: 10px 15px;
	    // margin-left: -15px;
	    // border-radius: $global-radius;
	}

	@media #{$small-only} {
	    // visibility: hidden; // we still want the height
	}

	img {
		@media #{$small-only} {
			width: auto;
			height: 50px;
			padding: rem-calc(5 5 5 15);
		}

		@media #{$medium-up} {
		    // width: 216px;
		    width: 133px;
		    padding: 0;
		}
	}
}

//-----------------------------------------------------------------
// Hamburger Wrapper
//-----------------------------------------------------------------

.header-mobile-menu {
	position: absolute;
	top: 15px; // looks right
	right: 15px;

	@media #{$small-only} {
	    background: white;
	}

	@media #{$medium-up} {
		position: absolute;
	    right: 20px;
	    top: 30px;
	}

	@media #{$large-only} {
		position: fixed;
	    right: 50px;
	}
}

.global-header .hamburger {
	@include hamburger($width: 25px, $gap: 5px, $thickness: 3px, $color: #222);

	@media #{$medium-up} {
	    @include hamburger($width: 30px, $gap: 6px, $thickness: 4px, $color: #222);
	}
}

//-----------------------------------------------------------------
// has-logo State (fixed)
//-----------------------------------------------------------------

// .global-header {
// 	@media #{$small-only}, #{$medium-only}, #{$large-only} {
// 	    // position: fixed;
// 	    // padding: 0; // necessary to override above
// 	    // background: white; // obscures logos anim
// 	}

// 	&.has-border {
// 		@media #{$small-only} {
// 		    border-bottom: 1px solid #E6E6E6;
// 		    background: white;
// 		}
// 	}

// 	.logo {
// 		@media #{$small-only} {
// 		    visibility: visible;
// 		    display: inline-block !important; // is JS overriding this??
// 		    padding: rem-calc(10 0);
// 		}
// 	}
// }

//=========================================
//
//=========================================