/*
    MAIN-STRUCTURE.CSS

    - Last updated: 29.06.15
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Main Columns
//-----------------------------------------------------------------

.main-columns {
	@include clearfix();

	// Offset container
	@media #{$xxlarge-up} {
	    padding-left: rem-calc(70);
	}

	//=========================================
	// Columns
	//=========================================

	.main-col-1,
	.main-col-2 {
		padding: rem-calc(40 15);

		@media #{$medium-up} {
		    padding: rem-calc(40 20);
		}
	}

	//=========================================
	// Column 1 (Main Body)
	//=========================================

	.main-col-1 {
		@media #{$medium-up} {
		    width: 70%;
		    float: right;
		}

		@media #{$xxlarge-up} {
		    width: 64%;
		}
	}

	//=========================================
	// Columns (Side Panel)
	//=========================================

	.main-col-2 {
		@media #{$small-only} {
		    padding-bottom: 0;
		    padding-top: 0;
		}

		@media #{$medium-up} {
		    // width: 30%; // because columns don't actually touch (?)
		    width: 38%;
		}

		@media #{$xxlarge-up} {
			width: 36%;
		    padding-left: 0;
		}
	}
}

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------