/*
    SIDEBAR.CSS

    - Last updated: ^^^^^^^^
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------

$sidebar-vertical-strip-width: rem-calc(96) !default;
$sidebar-width: rem-calc(246) !default;

//-----------------------------------------------------------------
// Sidebar
//-----------------------------------------------------------------

.sidebar {
	@include clearfix();
	padding: rem-calc(15);

	@media #{$large-only} {
	    padding-right: $sidebar-vertical-strip-width + rem-calc(30);
	}

	@media #{$xlarge-up} {
	    position: absolute;
	    right: $sidebar-vertical-strip-width;
	    top: 140px; // should be header height
	    margin: 0;
	    padding: 0; // important
	    width: $sidebar-width;
	}
}

//=========================================
// Sidebar Content
//=========================================

.sidebar-content {
	position: relative;
	padding: rem-calc(20 20 30 20);
	margin-bottom: rem-calc(40); // desktop
	background: $grey-color;
	background-size: contain;

	@media #{$medium-up} {
	    width: 65%;
	    margin-bottom: 0;
	}

	@media #{$xlarge-up} {
		width: auto;
		margin-bottom: rem-calc(40); // desktop
		padding: rem-calc(170 0 38 0);
		height: rem-calc(750);
		background: url(../img/template/grey-triangle@2x.png) no-repeat;
		background-size: contain;
	}

	.sidebar-content-scroller {
		overflow-y: auto;

		@media #{$xlarge-up} {
		    padding: rem-calc(0 38);
		    height: rem-calc(430);
		}
	}
}

//=========================================
//
//=========================================

.sidebar-footer {
	font-style: italic;

	@media #{$medium-only}, #{$large-only} {
		position: absolute;
		bottom: 0;
		right: rem-calc(15);
		text-align: right;
	}

	@media #{$large-up} {
	    right: $sidebar-vertical-strip-width/3 + rem-calc(20);
	}

	p {
		font-size: rem-calc(13);
		color: #7C7776; // is this body text color?
	}

	.button {
		margin-bottom: rem-calc(15); // detail
	}
}

//=========================================
//
//=========================================

.sidebar-vertical-strip {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	width: $sidebar-vertical-strip-width/3;
	overflow: hidden;
	background-image: url(../img/template/home-strip@2x.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;

	@media #{$xlarge-up} {
	    width: $sidebar-vertical-strip-width;
	}
}

.sidebar-vertical-strip-logo {
	display: none; // shows only when the bronze-theme is applied
	position: absolute;
	top: rem-calc(30);
	width: 100%;
	height: rem-calc(398);
	background: url(../img/template/right-now-logo-vertical@2x.png) no-repeat;
	background-size: contain;

	@media #{$xlarge-up} {
	    top: rem-calc(110);
	}
}

//-----------------------------------------------------------------
// Sidebox Component
//-----------------------------------------------------------------

.side-box {
	display: block;
	background: white;
	padding: rem-calc(5 10 10 10);
	margin-bottom: rem-calc(15);

	img {
		padding: rem-calc(15);
	}
}