/*
    SIDEBAR.CSS

    - Last updated: ^^^^^^^^
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------

$sidebar-vertical-strip-width: rem-calc(96);

//-----------------------------------------------------------------
// Sidebar
//-----------------------------------------------------------------

.sidebar {
	// padding: rem-calc(15 0 0 0);
	// margin: rem-calc(0 $sidebar-vertical-strip-width 0 15);
	padding: rem-calc(15);

	@media #{$large-only} {
	    padding-right: $sidebar-vertical-strip-width + rem-calc(30);
	}

	@media #{$xlarge-up} {
	    position: absolute;
	    right: 96px - 1; // account for image oddity
	    top: 140px; // should be header height
	    margin: 0;
	    padding: 0; // important
	    width: rem-calc(246);
	}
}

//=========================================
// Sidebar Content
//=========================================

.sidebar-content {
	position: relative;
	padding: rem-calc(20);
	margin-bottom: rem-calc(40);
	background: $grey-color;
	background-size: contain;

	@media #{$xlarge-up} {
		padding: rem-calc(170 0 38 0);
		height: rem-calc(750);
		background: url(../img/template/grey-triangle@2x.png);
		background-size: contain;
	}

	.sidebar-content-scroller {
		overflow-y: auto;

		@media #{$xlarge-up} {
		    padding: rem-calc(0 38);
		    height: rem-calc(430);
		}
	}
}

//=========================================
//
//=========================================

.sidebar-footer {
	font-style: italic;

	p {
		font-size: rem-calc(13);
		color: #7C7776; // is this body text color?
	}
}

//=========================================
//
//=========================================

.sidebar-vertical-strip {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	width: $sidebar-vertical-strip-width/3;
	overflow: hidden;
	background-image: url(../img/template/home-strip@2x.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;

	@media #{$xlarge-up} {
	    width: $sidebar-vertical-strip-width;
	}
}

.sidebar-vertical-strip-logo {
	position: absolute;
	top: rem-calc(30);
	width: 100%;
	height: rem-calc(398);
	background: url(../img/template/right-now-logo-vertical@2x.png) no-repeat;
	background-size: contain;

	@media #{$xlarge-up} {
	    top: rem-calc(110);
	}
}