/*
    STAGE.CSS

    - Last updated: 19.06.15
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Stage
//-----------------------------------------------------------------

.stage {
	background: url(../img/template/right-now-coaching-bg.png) no-repeat;
	background-size: contain;
	background-position: top left;

	@media #{$large-up} {
	    margin-right: rem-calc(96);
	}

	@media #{$xlarge-up} {
		height: 100vh;
	    margin-right: rem-calc(340);
	}
}

//-----------------------------------------------------------------
// Main
//-----------------------------------------------------------------

.main {
	position: relative;
	max-width: rem-calc(860);

	@media #{$medium-up} {
	    margin-right: rem-calc(20);
	}

	//=========================================
	// Logo
	//=========================================

	.logo {
		text-align: right;

		@media #{$large-up} {
		    position: absolute;
		    width: 100%;
		}

		img {
			background: rgba(white, 0.9);
			margin-bottom: rem-calc(10);
			padding: rem-calc(10);
			border-radius: $global-radius;

			@media #{$large-up} {
			    position: absolute;
			    right: 0;
			    bottom: 10px;
			    margin: 0;
			    padding: 0;
			    background: none;
			}
		}
	}

	//=========================================
	// Header
	//=========================================

	.header {
		background: #8B8584;
		color: white;
		padding: rem-calc(0 15);
		font-size: rem-calc(14);

		@media #{$large-up} {
		    padding: rem-calc(2 2 2 70);
		}
	}

	//=========================================
	// Main Body
	//=========================================

	.main-body {
		background: rgba(white, 0.9);
		padding: rem-calc(40 20 20 20);

		@media #{$large-up} {
			float: right;
		    max-width: rem-calc(530);
		}

		@media #{$xlarge-up} {
			min-height: 100vh;
		}
	}
}

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------

body {
	// background: #eee;
}