/*
    STAGE.CSS

    - Last updated: 26.06.15
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------

$general-header-height: 320px; // remove?

//-----------------------------------------------------------------
// Stage
//-----------------------------------------------------------------

.stage {
	background-repeat: no-repeat;
	background-size: contain;
	background-position: -1px bottom; // 1px bleed

	// POSSIBILITY - trailing images on mobile
	&.has-trailing-bg {
		@media #{$small-only} {
			padding-bottom: 70%;
		}
	}

	@media #{$large-up} {
	    margin-right: rem-calc(96 + 10); // variables
	}

	@media #{$xlarge-up} {
	    margin-right: rem-calc(340 + 30); // 30 is padding
	}
}

//-----------------------------------------------------------------
// Main
//-----------------------------------------------------------------

.main {
	@include clearfix();
	position: relative;
	max-width: rem-calc(900);

	@media #{$medium-up} {
	    margin-right: rem-calc(20);
	}

	//=========================================
	// Logo (Above header strip)
	//=========================================

	.logo {
		// shows only when the 'bronze-theme' is applied
		display: none;
		text-align: right;

		@media #{$large-up} {
		    position: absolute;
		    width: 100%;
		}

		img {
			background: rgba(white, 0.9);
			margin-bottom: rem-calc(10);
			padding: rem-calc(10);
			border-radius: $global-radius;

			@media #{$large-up} {
			    position: absolute;
			    right: 0;
			    bottom: 10px;
			    margin: 0;
			    padding: 0;
			    background: none;
			}
		}
	}

	//=========================================
	// Header Strip
	//=========================================

	.header {
		background: #8B8584;
		color: white;
		padding: rem-calc(2 20);
		font-size: rem-calc(14);
		font-style: italic;
		text-transform: lowercase;

		@media #{$xxlarge-up} {
		    padding-left: rem-calc(70); // 70 variable
		}
	}

	//=========================================
	// Main Body (Hugs right)
	//=========================================

	.main-body {
		padding: rem-calc(20);
		background: rgba(white, 0.9);

		@media #{$xlarge-up} {
			min-height: 850px; // needs to be higher than sidebar contents - make var?
		}

		// Rare edge case for tall monitors
		@media #{$xlarge-up} and (min-height: 1170px) {
			min-height: calc(100vh - 320px);
		}
	}

	//=========================================
	// Logo BG - used on homepage templates
	//=========================================

	.logo-bg {
		width: 637px; //2248px;

		@media #{$xxlarge-up} {
		    position: absolute;
		    top: -40px;
		    right: -30px;
		}
	}
}

//-----------------------------------------------------------------
// Main Columns
//-----------------------------------------------------------------

.main-columns {
	@include clearfix();
	// height: 100%;

	@media #{$xxlarge-up} {
	    padding-left: rem-calc(70);
	}

	.main-col-1,
	.main-col-2 {
		width: 100%;

		@media #{$medium-up} {
		    padding-top: rem-calc(40);
		}
	}

	// Main Body
	.main-col-1 {
		@media #{$medium-up} {
		    width: 64%;
		    float: right;
		}
	}

	// Main Side Panel
	.main-col-2 {
		padding-left: rem-calc(15);

		@media #{$medium-up} {
		    width: 36%;
		    padding-left: rem-calc(20);
		}
		@media #{$xxlarge-up} {
		    padding-left: 0;
		}
	}
}

//-----------------------------------------------------------------
// Sidebar Box
//-----------------------------------------------------------------

.sidebar-box {
	background: $grey-color;
	margin-bottom: rem-calc(40);
	padding: rem-calc(20 20 30 20);
	margin: rem-calc(15);

	@media #{$medium-up} {
	    margin: rem-calc(0 60 40 0);
	}

	h1, h2, h3, h4, h5, h6 {
		font-size: $paragraph-font-size;
		font-weight: normal;
		margin-bottom: rem-calc(20);
		color: $body-font-color !important; // fix later
	}

	ul {
		list-style: none;
		margin: 0;
		text-transform: lowercase;
		font-style: italic;
	}

	a {
		@include transition('color');
		color: darken($grey-color, 40%);

		&:hover {
		    color: black !important;
		}
	}
}

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------