/*
    FONTS.CSS

    - Last updated: 22.03.15
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Motion Picture
//-----------------------------------------------------------------

@font-face {
    font-family: 'MotionPicture';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/MotionPicture.eot');
    src: local('☺'),
        url('../fonts/MotionPicture.woff') format('woff'),
        url('../fonts/MotionPicture.tff') format('truetype'),
        url('../fonts/MotionPicture.svg') format('svg');
}

//-----------------------------------------------------------------
// Adobe Casion
//-----------------------------------------------------------------

@font-face {
    font-family: 'Casion';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/ACasReg.eot');
    src: local('☺'),
        url('../fonts/ACasReg.woff') format('woff'),
        url('../fonts/ACasReg.tff') format('truetype'),
        url('../fonts/ACasReg.svg') format('svg');
}

@font-face {
    font-family: 'Casion';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/ACasSem.eot');
    src: local('☺'),
        url('../fonts/ACasSem.woff') format('woff'),
        url('../fonts/ACasSem.tff') format('truetype'),
        url('../fonts/ACasSem.svg') format('svg');
}

@font-face {
    font-family: 'Casion';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/ACasBol.eot');
    src: local('☺'),
        url('../fonts/ACasBol.woff') format('woff'),
        url('../fonts/ACasBol.tff') format('truetype'),
        url('../fonts/ACasBol.svg') format('svg');
}

@font-face {
    font-family: 'Casion';
    font-style: italic;
    font-weight: 700;
    src: url('../fonts/ACasBolIta.eot');
    src: local('☺'),
        url('../fonts/ACasBolIta.woff') format('woff'),
        url('../fonts/ACasBolIta.tff') format('truetype'),
        url('../fonts/ACasBolIta.svg') format('svg');
}

//-----------------------------------------------------------------
// Futura
//-----------------------------------------------------------------

@font-face {
    font-family: 'Futura';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/Futur.eot');
    src: local('☺'),
        url('../fonts/Futur.woff') format('woff'),
        url('../fonts/Futur.tff') format('truetype'),
        url('../fonts/Futur.svg') format('svg');
}

@font-face {
    font-family: 'Futura';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/FuturBol.eot');
    src: local('☺'),
        url('../fonts/FuturBol.woff') format('woff'),
        url('../fonts/FuturBol.tff') format('truetype'),
        url('../fonts/FuturBol.svg') format('svg');
}

@font-face {
    font-family: 'Futura';
    font-style: italic;
    font-weight: 700;
    src: url('../fonts/FuturBooObl.eot');
    src: local('☺'),
        url('../fonts/FuturBooObl.woff') format('woff'),
        url('../fonts/FuturBooObl.tff') format('truetype'),
        url('../fonts/FuturBooObl.svg') format('svg');
}