---
layout: master
---

{% assign settings = site.data.settings %}

<!-- STAGE -->
<section class="stage">
	<main class="main">

		<div class="main-columns">
			<div class="main-col-1 main-body">
				<img class="logo-bg" src="/img/template/logo-symbol.svg" alt="oztrain logo">
			</div>

			<!-- Main Side Panel -->
			<div class="main-col-2 main-side-panel">

				{{ content }}

			</div> <!-- main-side-panel -->
		</div> <!-- .main-columns -->
	</main>
</section>

<!-- SIDEBAR -->
<aside class="sidebar">
	<div class="sidebar-content">
		<div class="sidebar-content-scroller">

			{% if page.sidebar_content %}
			    {% include {{ page.sidebar_content }} %}
			{% else %}
				{% include sidebar/sidebar_default.html %}
			{% endif %}

		</div> <!-- .sidebar-content-scroller -->

		<!-- News Button on Homepage only -->
		{% if page.url == "/" %}
		    <a href="/about-us/latest-news/" class="news-button show-for-xlarge-up">news ></a>
		{% endif %}

	</div> <!-- .sidebar-content -->

	<div class="sidebar-footer">
		{% include footer.html %}
	</div>

	<!-- Sidebar Vertical Strip -->
	<div class="sidebar-vertical-strip show-for-large-up">
		{% include social_networks.html %}
	</div>
</aside>