---
layout: master
---

{% assign settings = site.data.settings %}

<!-- STAGE -->
<section class="stage">

	<main class="main">

		{% if true %}
			<div class="logo">
				<img width="116" src="/img/template/right-now-coaching-logo@2x.png">
			</div>
		{% endif %}

		<header class="header">
			<div class="">right.<b>now</b>. coaching</div>
		</header>

		<div class="main-columns">
			<div class="main-col-1 main-body">
				<h1>Column 2</h1>

				<h3>what do you want to learn more about?</h3>

				<p>Public policy? Management? Influence? Executive presence? Problem solving? Managing tricky people situations? Meeting your boss’s needs? Leading with energy and vision? We’ll work with you to customise the way you learn and develop what matters to you.</p>

				<p>You choose from a set of learning objectives that suit you, and adapt them to suit you with your executive coach face to face or on line in your first session . You decide whether you want feedback during the process, and choose from multiple ways that might be collected. You and your coach then use the oztrain secure learning site to review objectives, discuss the issues, share resources, report on progress, explore new ways to learn and develop, and to create the report back to your manager about process and outcomes.</p>

				<h3>benefits to your organisation?</h3>

				<p>Because we ask each learner a series of questions regularly, your organization gains regular reports on how their staff are thinking about key issues, not just their learning journey. Because we ask your leaders questions regularly, learners find out what their bosses think are priorities and imperatives.</p>

				<h3>who works with you?</h3>

				<p>Each learner has their own core coach, who in turn brings in any experts needed to supplement and enrich your learning experience. Need to talk to an ex chief executive about how they solved a particular problem? Need to talk to a University lecturer about the theory behind your problem? Need to talk to a subject expert about your issue? We’ll find them, and when you log on to your learning site, they’ll be side by side with your</p>
			</div>

			<!-- Main Side Panel -->
			<div class="main-col-2 main-side-panel hideX">

				<div class="sidebar-box">
					<h4>Column 1</h4>
					<ul>
						<li><a href="#">Clients</a></li>
						<li><a href="#">Leading &amp; Managing</a></li>
						<li><a href="#">Fun</a></li>
						<li><a href="#">News</a></li>
						<li><a href="#">Planning</a></li>
						<li><a href="#">Political Savvy</a></li>
						<li><a href="#">Self Development</a></li>
						<li><a href="#">Teams</a></li>
						<li><a href="#">Technology</a></li>
					</ul>
				</div>

				<div class="sidebar-box">
					<h4>Archive</h4>
					<ul>
						<li><a href="#">2015</a></li>
						<li><a href="#">2014</a></li>
						<li><a href="#">2013</a></li>
					</ul>
				</div>
			</div>
		</div> <!-- .main-columns -->
	</main>
</section>

<!-- SIDEBAR -->
<aside class="sidebar">
	<div class="sidebar-content show-for-xlarge-upX">
		<div class="sidebar-content-scroller">

			<p><img src="/img/template/right-now-coaching-logo@2x.png"></p>
			<p>Lorem ipsum...</p>

			<h3>products &amp; services</h3>
			<div><a class="button fill-primary-color">coaching <span class="arrow">&gt;</span></a></div>
			<div><a class="button fill-tertiary-color">facilitating <span class="arrow">&gt;</span></a></div>
			<div><a class="button fill-secondary-color">training <span class="arrow">&gt;</span></a></div>
			<div><a class="button fill-quaternary-color">organisational<br> development <span class="arrow">&gt;</span></a></div>

		</div>

		<!-- News Button on Homepage only -->
		{% if page.url == "/" %}
		    <!-- <a class="news-button show-for-xlarge-up">news ></a> -->
		{% endif %}

	</div>

	<div class="sidebar-footer">
		{% include footer.html %}
	</div>

	<!-- Sidebar Vertical Strip -->
	<div class="sidebar-vertical-strip show-for-large-up">

		<div class="sidebar-vertical-strip-logo"></div>

		<ul class="social-networks">
			<li><a href="#"><img width="18" src="/img/template/facebook-icon@2x.png"></a></li>
			<li><a href="#"><img width="18" src="/img/template/twitter-icon@2x.png"></a></li>
			<li><a href="#"><img width="18" src="/img/template/linked-in-icon@2x.png"></a></li>
		</ul>
	</div>
</aside>