---
layout: master
---

{% assign settings = site.data.settings %}

<aside class="sidebar">

	<!-- Sidebar -->
	<div class="sidebar-content">
		<div class="sidebar-content-scroller">

			<p><img src="img/template/right-now-coaching-logo@2x.png"></p>
			<p>Lorem ipsum...</p>

			<h3>products &amp; services</h3>
			<div><a class="button fill-primary-color">coaching <span class="arrow">&gt;</span></a></div>
			<div><a class="button fill-tertiary-color">facilitating <span class="arrow">&gt;</span></a></div>
			<div><a class="button fill-secondary-color">training <span class="arrow">&gt;</span></a></div>
			<div><a class="button fill-quaternary-color">organisational<br> development <span class="arrow">&gt;</span></a></div>

		</div>

		<!-- News Button on Homepage only -->
		{% if page.url == "/" %}
		    <a class="news-button">news ></a>
		{% endif %}

	</div>

	<div class="sidebar-footer">
		<p>{{ settings.company }} <br>
		   {{ settings.address }} <br>
		   <a href="mailto:{{ settings.email }}">{{ settings.email }}</a></p>

		<a class="button fill-grey-color">newsletter ></a>
	</div>

	<!-- Sidebar Vertical Strip -->
	<div class="sidebar-vertical-strip show-for-large-up">

		<div class="sidebar-vertical-strip-logo"></div>

		<ul class="social-networks">
			<li><a href="#"><img width="18" src="/img/template/facebook-icon@2x.png"></a></li>
			<li><a href="#"><img width="18" src="/img/template/twitter-icon@2x.png"></a></li>
			<li><a href="#"><img width="18" src="/img/template/linked-in-icon@2x.png"></a></li>
		</ul>
	</div>
</aside>

<!-- STAGE -->
<section class="stage">
	<!-- <div class="outer-row">
		<div class="medium-5 columns">

			<p style="font-size: 29px;"><b>oz</b>train is a training and consultancy firm with an enviable reputation for the delivery of excellent tailor made programs for public and private sectors which build the capabilities of people and the capacity of departments and companies with a focus on the development of people.</p>
		</div>
	</div> -->
</section>