/*
    BUTTONS.CSS

    - Last updated: ^^^^^^^^
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Buttons
//-----------------------------------------------------------------

.button {
	background: #EDEDEE;
	color: $body-font-color;
	border: 1px solid $primary-color;
	padding: rem-calc(3 40);
}

//=========================================
//
//=========================================