/*
    FORMS.CSS

    - Last updated: ^^^^^^^^
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Forms
//-----------------------------------------------------------------

.required {
	color: $alert-color;
}

.lv-super input,
.lv-super textarea {
	padding-left: rem-calc(10);
	padding-right: rem-calc(10);
	margin-bottom: rem-calc(10);
}

.lv-super .error input,
.lv-super .error textarea {
	margin-bottom: 0;
}

.lv-super form .button {
	display: inline-block;
	width: auto;
	min-width: 0;
	padding: rem-calc(6 15);
	background: darken($grey-color, 6%);

	&:hover {
		background: darken($grey-color, 10%);
	}
}

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------

.newsletter-signup-form {
	input {
		background: white;
	}
}

//=========================================
//
//=========================================

// Center all input placeholder text - looks better

// ::-webkit-input-placeholder {
//   text-align: center;
// }
// ::-moz-placeholder { /* Firefox 19+ */
//   text-align: center;
// }
// :-ms-input-placeholder {
//   text-align: center;
// }
// :-moz-placeholder { /* Firefox 18- */
//   text-align: center;
// }