/*
    SOCIAL-NETWORKS.CSS

    - Last updated: 29.06.15
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Social Networks
//-----------------------------------------------------------------

.social-networks {
    list-style: none;
    margin: 0;
    width: 100%; // center on mobile
	text-align: center;
}

//-----------------------------------------------------------------
// Contexts
//-----------------------------------------------------------------

//=========================================
// Off Canvas
//=========================================

.off-canvas-menu .social-networks {
	li {
		display: inline-list;
		float: left;

		a {
			padding-right: rem-calc(15);
		}
	}
}

//=========================================
// Sidebar
//=========================================

.sidebar-vertical-strip .social-networks {
    position: absolute;
    bottom: rem-calc(15);
    left: 0;
    list-style: none;
    margin: 0;
    width: 100%; // center on mobile
	text-align: center;

	@media #{$xxlarge-up} {
	    bottom: rem-calc(30);
	}

	li {
		margin-bottom: rem-calc(2);
	}
}

//=========================================
//
//=========================================

.social-networks a img {
	@include transition('all');

	&:active,
	&:hover {
	    -webkit-transform: scale(1.1);
	       -moz-transform: scale(1.1);
	        -ms-transform: scale(1.1);
	         -o-transform: scale(1.1);
	            transform: scale(1.1);
	}
}