/*
    TYPE.CSS

    - Last updated: ^^^^^^^^
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Type
//-----------------------------------------------------------------

h1, h2, h3, h4, h5, h6 {
	text-transform: lowercase;
	font-family:'HelveticaNeueW01-LtExt';
}

h2 {
	padding-bottom: rem-calc(30);
}

h3 {
	// margin-bottom: rem-calc(40);
}

h4, h5, h6 {
	font-size: $paragraph-font-size;
	color: #222;
	font-weight: bold;
}

// refactor
p.lead {
	font-size: $paragraph-font-size;

	@media #{$medium-up} {
	    font-size: rem-calc(30);
	}
}

p, ul {
	font-size: rem-calc(16);

	@media #{$large-up} {
		font-size: rem-calc(16);
	}

	@media #{$xxlarge-up} {
		font-size: $paragraph-font-size;
	}
}

strong, b {
	// font-family: 'HelveticaNeueW01-BdExt';
}

// .hero ul {
// 	list-style: none;

// 	li:before {
// 		content: "-";
// 		display: inline-block;
// 		position: relative;
// 		left: -15px;
// 		// float: left;
// 	}
// }

a.special-link {
	color: $primary-color;
	text-decoration: none;

	&:hover {
		color: darken($primary-color, 5%);
	}
}

//=========================================
// Contexts
//=========================================

.contact-section h2 {
	font-size: rem-calc(48);
	color: $primary-color;
	margin-top: 0;
}