/*
    TYPE.CSS

    - Last updated: ^^^^^^^^
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Type
//-----------------------------------------------------------------

h1 {
	margin-bottom: rem-calc(20);
	font-weight: 100;
}

h3 {
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	text-transform: lowercase;
}

p.lead,
.lead > p {
	font-size: $paragraph-font-size;

	@media #{$medium-up} {
	    font-size: rem-calc(19);
	    line-height: 1.5;
	    font-weight: 100;
	}
}

p, ul {
	// font-size: rem-calc(16);

	@media #{$large-up} {
		// font-size: rem-calc(16);
	}

	@media #{$xxlarge-up} {
		// font-size: $paragraph-font-size;
	}
}

//=========================================
// Contexts
//=========================================
