/*
    GALLERY.CSS

    - Last updated: ^^^^^^^^
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Gallery
//-----------------------------------------------------------------

.gallery-slider {
	h4, h3 {
		@media #{$small-only} {
		    display: none; // we're use the swipe hint instead
		}
	}

	iframe {
		min-height: 200px;

		@media #{$medium-up} {
		    height: 500px;
		}

		@media #{$xxlarge-up} {
		    height: 760px;
		}
	}
}


//=========================================
//
//=========================================
