/*
    SEARCH.CSS

    - Last updated: 19.06.15
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Search
//-----------------------------------------------------------------

.global-navigation .search {
	padding-left: rem-calc(20);

	a {
		color: $body-font-color;

		.circle-icon {
			position: relative;
			top: 3px;
			display: inline-block;
			width: 17px;
			height: 17px;
			border: 1px solid $body-font-color;
			margin: rem-calc(0 6); // magic
			border-radius: 100%;
		}
	}
}

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------
//=========================================
//
//=========================================
