/*
    SPLASH-SCREEN.CSS

    - Last updated: 29.06.15
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Splash Screen
//-----------------------------------------------------------------

.lv-page {
	visibility: hidden;
}

.splash-screen {
	visibility: hidden;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: white url(../img/template/logo-type.svg) no-repeat;
	background-position: center center;
	background-size: 80%;
	z-index: 1000;
}

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------
//=========================================
//
//=========================================

