<h3>Newsletter Sign Up</h3>
<br>

<form class="newsletter-signup-form" data-abide novalidate method="post" action="#">

	<!-- Name* -->
	<div class="row collapse">
		<div class="columns">
			<label>
				<input name="name" type="text" placeholder="name*" required>
			</label>
			<small class="error">Your name is required.</small>
		</div>
	</div>

	<!-- Email* -->
	<div class="row collapse">
		<div class="columns">
			<label>
				<input name="email" type="email" placeholder="email*" required>
			</label>
			<small class="error">A valid email address is required.</small>
		</div>
	</div>

	<!-- Submit -->
	<div class="row collapse">
		<div class="columns">
			<button type="submit" class="button">submit</button>
		</div>
	</div>

</form>