<a class="side-box" href="#">
	<p><img src="/img/template/right-now-coaching-logo@2x.png"></p>
	<p>Lorem ipsum...</p>
</a>

<h3>products &amp; services</h3>
<div><a class="button fill-primary-color">coaching <span class="arrow">&gt;</span></a></div>
<div><a class="button fill-tertiary-color">facilitating <span class="arrow">&gt;</span></a></div>
<div><a class="button fill-secondary-color">training <span class="arrow">&gt;</span></a></div>
<div><a class="button fill-quaternary-color">organisational<br> development <span class="arrow">&gt;</span></a></div>