<form data-abide novalidate method="post" action="#">

	<!-- Name -->
	<div class="row">
		<div class="columns">
			<label>
				<input name="name" type="text" placeholder="name*" required>
			</label>
			<small class="error">Your name is required.</small>
		</div>
	</div>

	<!-- Email -->
	<div class="row">
		<div class="columns">
			<label>
				<input name="email" type="email" placeholder="email*" required>
			</label>
			<small class="error">A valid email address is required.</small>
		</div>
	</div>

	<!-- Website (Optional) -->
	<div class="row">
		<div class="columns">
			<label>
				<input name="website" type="text" placeholder="website">
			</label>
			<small class="error">Please try again.</small>
		</div>
	</div>

	<!-- Subject -->
	<div class="row">
		<div class="columns">
			<label>
				<input name="subject" type="text" placeholder="subject">
			</label>
			<small class="error">Please try again.</small>
		</div>
	</div>

	<!-- Message -->
	<div class="row">
		<div class="columns">
			<label></label>
			<textarea rows="10" name="message" placeholder="message*" required></textarea>
			<small class="error">Please enter a message.</small>
		</div>
	</div>

	<!-- Submit -->
	<div class="row">
		<div class="columns">
			<button type="submit" class="button">submit</button>
		</div>
	</div>

</form>