/*
    SPECIAL.CSS - Refactor Later

    - Last updated: ^^^^^^^^
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Text Color
//-----------------------------------------------------------------

.primary-color {
    color: $primary-color;
}

// Used mainly for Staff Index

.blue-text-color { color: $blue-theme-color !important; }
.bronze-text-color { color: $bronze-theme-color !important; }
.green-text-color { color: $green-theme-color !important; }
.lime-text-color { color: $lime-theme-color !important; }
.orange-text-color { color: $orange-theme-color !important; }
.red-text-color { color: $red-theme-color !important; }
.yellow-text-color { color: $yellow-theme-color !important; }
.purple-text-color { color: $purple-theme-color !important; }

//-----------------------------------------------------------------
// Special
//-----------------------------------------------------------------

.section-text {
	padding-bottom: rem-calc(40);

	@media #{$large-up} {
	    padding-top: 30%;
	}
}

.trailing-hero-image.contact-us-section {
	@media #{$small-only} {
	    height: rem-calc(400);
	}
	// height: rem-calc(800);
}

//=========================================
//
//=========================================

.increase-bottom-margin {
	margin-bottom: rem-calc(30);
}

.lv-super .button.dark-grey {
	background: darken($grey-color, 8%); // bad bad bad

	&:hover {
		background: darken($grey-color, 15%); // bad bad bad
	}
}