/*
    THEMES.CSS

    - Last updated: 03.07.15
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------

$blue-theme-color: #1FB8F3 !default;
$bronze-theme-color: #8B8584 !default;
$green-theme-color: #2DB475 !default;
$lime-theme-color: #8EC449 !default;
$orange-theme-color: #EF5B30 !default;
$red-theme-color: #FC0D1B !default;
$yellow-theme-color: #F9AF48 !default;
$purple-theme-color: #C35FB3 !default;

//-----------------------------------------------------------------
// Home Theme
//-----------------------------------------------------------------

.home-theme {
	.main-col-2 {
		@media #{$xxlarge-up} {
		    width: 70%;
		}
	}
}

//-----------------------------------------------------------------
// Blue Theme
//-----------------------------------------------------------------

.blue-theme {
	.main .header,
	.sidebar-vertical-strip {
		background: $blue-theme-color;
	}

	.media-article h2,
	.main-body a,
	.media-link {
		color: $blue-theme-color;

		&:hover {
			color: darken($blue-theme-color, 10%);
		}
	}

	.stage {
		background-image: url(../img/template/coaching-bg.svg);

		/* Target IE9,10,11 - SVG performs too poorly */
		@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
			background-image: url(../img/template/coaching-bg.jpg);
		}
	}

	.main h1,
	.main h2,
	.main h3,
	.main h4,
	.main h5,
	.main h6 {
		color: $blue-theme-color;
	}
}

//=========================================
// Green Theme
//=========================================

.green-theme {
	.main .header,
	.sidebar-vertical-strip {
		background: $green-theme-color;
	}

	.media-article h2,
	.main-body a,
	.media-link {
		color: $green-theme-color;

		&:hover {
			color: darken($green-theme-color, 10%);
		}
	}

	.stage {
		background: none;
		padding-bottom: 0; // no trailing image
	}

	.main h1,
	.main h2,
	.main h3,
	.main h4,
	.main h5,
	.main h6 {
		color: $green-theme-color;
	}

	//=========================================
	// News Theme
	//=========================================

	&.green-theme-news .main h1,
	&.green-theme-news .main h1 small {
		color: $green-theme-color;
		display: block;
		margin-bottom: rem-calc(30);
	}

	//=========================================
	// Green Theme
	//=========================================

	&.green-theme-stipple-main-body-bg {
		.main-body {
			background: #E4F7F2;
		}
	}

	.main h1 small {
		padding: rem-calc(10 0);
	}
}

//=========================================
// Lime Theme
//=========================================

.lime-theme {
	.main .header,
	.sidebar-vertical-strip {
		background: $lime-theme-color;
	}

	.media-article h2,
	.main-body a,
	.media-link {
		color: $lime-theme-color;

		&:hover {
			color: darken($lime-theme-color, 10%);
		}
	}

	.stage {
		background-image: url(../img/template/consulting-bg.svg);

		/* Target IE9,10,11 - SVG performs too poorly */
		@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
			background-image: url(../img/template/consulting-bg.jpg);
		}
	}

	.main h1,
	.main h2,
	.main h3,
	.main h4,
	.main h5,
	.main h6 {
		color: $lime-theme-color;
	}
}

//=========================================
// Orange Theme (exclusive to "About")
//=========================================

.orange-theme {
	.main .header,
	.sidebar-vertical-strip {
		background: $orange-theme-color;
	}

	.media-article h2,
	.main-body a,
	.media-link {
		color: $orange-theme-color;

		&:hover {
			color: darken($orange-theme-color, 10%);
		}
	}

	.stage {
		padding-bottom: 0; // no trailing
		background-image: url(../img/template/training-bg.svg);

		/* Target IE9,10,11 - SVG performs too poorly */
		@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
			background-image: url(../img/template/training-bg.jpg);
		}
	}

	.main h1,
	.main h2,
	.main h3,
	.main h4,
	.main h5,
	.main h6 {
		color: $orange-theme-color;
	}
}

//=========================================
// Red Theme
//=========================================

.red-theme {
	.main .header,
	.sidebar-vertical-strip {
		background: $red-theme-color;
	}

	.media-article h2,
	.main-body a,
	.media-link {
		color: $red-theme-color;

		&:hover {
			color: darken($red-theme-color, 10%);
		}
	}

	.stage {
		background-image: url(../img/template/facilitating-bg.svg);

		/* Target IE9,10,11 - SVG performs too poorly */
		@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
			background-image: url(../img/template/facilitating-bg.jpg);
		}
	}

	.main h1,
	.main h2,
	.main h3,
	.main h4,
	.main h5,
	.main h6 {
		color: $red-theme-color;
	}
}

//=========================================
// Yellow Theme
//=========================================

.yellow-theme {
	.main .header,
	.sidebar-vertical-strip {
		background: $yellow-theme-color;
	}

	.media-article h2,
	.main-body a,
	.media-link {
		color: $yellow-theme-color;

		&:hover {
			color: darken($yellow-theme-color, 10%);
		}
	}

	.stage {
		background-image: url(../img/template/training-bg.svg);

		/* Target IE9,10,11 - SVG performs too poorly */
		@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
			background-image: url(../img/template/training-bg.jpg);
		}
	}

	.main h1,
	.main h2,
	.main h3,
	.main h4,
	.main h5,
	.main h6 {
		color: $yellow-theme-color;
	}
}

//=========================================
// Purple Theme
//=========================================

.purple-theme {
	.main .header,
	.sidebar-vertical-strip {
		background: $purple-theme-color;
	}

	.media-article h2,
	.main-body a,
	.media-link {
		color: $purple-theme-color;

		&:hover {
			color: darken($purple-theme-color, 10%);
		}
	}

	.stage {
		background-image: url(../img/template/facilitating-bg.svg);

		/* Target IE9,10,11 - SVG performs too poorly */
		@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
			background-image: url(../img/template/facilitating-bg.jpg);
		}
	}

	.main h1,
	.main h2,
	.main h3,
	.main h4,
	.main h5,
	.main h6 {
		color: $purple-theme-color;
	}
}

//=========================================
// Fire Theme
//=========================================

.fire-theme {
	.stage {
		background-image: url(../img/template/contact-us-bg.jpg);

		@media #{$large-up} {
		    margin-right: 50px;
		}

		@media #{$xlarge-up} {
		    margin-right: rem-calc(446 + 30); // 30 is padding
		}
	}

	.main {
		@media #{$small-only} {
		   margin-bottom: rem-calc(20);
		}
	}

	.main-body {
		background: none;
	}

	.sidebar {
		@media #{$xlarge-up} {
		    width: rem-calc(350);
		}
	}

	.sidebar,
	.sidebar-content,
	.sidebar-content-scroller {
		background: none;  // no need

		@media #{$small-only} {
		    padding: 0 !important;
		}
	}

	.sidebar-footer {
		display: none;
	}

	// Important
	.sidebar-content-scroller {
		padding: rem-calc(0 15 0 0);
		height: auto;
	}

	.sidebar-vertical-strip {
		background-image: url(../img/template/contact-us-strip@2x.jpg);
		background-color: #F7A730;
	}
}

//-----------------------------------------------------------------
// Bronze Theme used exclusively by Right Now page
//-----------------------------------------------------------------

.bronze-theme {
	.main .header,
	.sidebar-vertical-strip {
		background: $bronze-theme-color;
	}

	.media-article h2,
	.main-body a,
	.media-link {
		color: $bronze-theme-color;

		&:hover {
			color: darken($bronze-theme-color, 10%);
		}
	}

	.main-body {
		background: white;
	}

	.main h1,
	.main h2,
	.main h3,
	.main h4,
	.main h5,
	.main h6 {
		color: $bronze-theme-color;
	}

	.stage {
		background-image: url(../img/template/right-now-coaching-bg.png);
	}

	// Reveal logo
	// .main .logo,
	.sidebar-vertical-strip-logo {
		display: block;
	}
}

//-----------------------------------------------------------------
// Blank Stage Theme
//-----------------------------------------------------------------

.blank-stage-theme {
	.stage {
		background: none;
	}
}

//-----------------------------------------------------------------
// Used for Sitemap only
//-----------------------------------------------------------------

.default-colored-text-theme {
	.main h1,
	.main h2,
	.main h3,
	.main h4,
	.main h5,
	.main h6 {
		color: $body-font-color;
	}
}

//-----------------------------------------------------------------
// exclusive to our-staff"
//-----------------------------------------------------------------

// NO BG - used on staff members section
.staff-index-theme {
	.main {
		@media #{$xlarge-up} {
		    padding-top: rem-calc(150);
		}
	}
}

//=========================================
//
//=========================================